.page {
  min-height: 100vh;
  display: flex;
  background: var(--light-green-gradient);

  &Card {
    max-width: 300px;
    min-height: 300px;
    width: 100%;
    margin: auto;
    padding: 40px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  }

  &ReturnButton {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &UsersList {
    margin-bottom: 20px;
  }

  &UserContainer {
    position: relative;
    background-color: rgba(116, 178, 95, 0.1);

    & > p {
      margin: 8px;
    }
  }

  &UserContainerCorner {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 5px, 5px 100%, 0 100%);
  }

  @media screen and (max-width: 520px) {
    &Card {
      max-width: 100%;
      min-height: 100%;
      margin: 0;
    }
  }
}
