.controller {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fireButton {
  background: #000;
  border: 0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow:
          -10px -10px 15px rgba(0, 0, 0, 0.5),
          10px 10px 15px rgba(14, 14, 14, 0.12),
          inset -10px -10px 15px rgba(44, 44, 44, 0.5),
          inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  color: #fff;

  &:active {
    background: #000;
  }
}

.stickWrapper {
  width: 150px;
  height: 150px;
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.button {
  display: flex;
  background: #000;
  border: 0;
  border-radius: 50%;
  box-shadow:
          -10px -10px 15px rgba(0, 0, 0, 0.5),
          10px 10px 15px rgba(14, 14, 14, 0.12),
          inset -10px -10px 15px rgba(44, 44, 44, 0.5),
          inset 10px 10px 15px rgba(70, 70, 70, 0.12);

  &:active {
    background: #000;
  }
}

.arrowIcon {
  width: 28px;
  height: 28px;
  margin: auto;

  * {
    fill: var(--white)
  }
}

.up {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  .arrowIcon {
    transform: rotate(180deg);
  }
}

.down {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  .arrowIcon {
    transform: rotate(90deg);
  }
}

.right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  .arrowIcon {
    transform: rotate(-90deg);
  }
}
